<div class="stdcontainer">
  <div class="container-fluid">
    <div class="row">
      <% @areas.find_each do |area| %>
          <% unless area.archived %>
              <div class="col-md-3">
                <h3><%= link_to simple_format(area.name), area %></h3>
                <div class="list-group">
                  <% Initiative.where(area_id: area.id).order("LOWER (name) ASC").find_each do |initiative| %>
                      <% unless initiative.archived %>
                          <%= link_to initiative.name, initiative,
                                      class: "list-group-item list-group-item-action" %>
                      <% end %>
                  <% end %>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 id="show-title">Statistics</h2>
          <br>
          <table id="info-table">
            <tr>
              <td>Total Service Users:</td>
              <td><%= User.where(:privilege => 2).count %></td>
            </tr>
            <tr>
              <td>Total Volunteers:</td>
              <td><%= User.where(:privilege => 1).count %></td>
            </tr>
            <tr>
              <td>Total Funders:</td>
              <td><%= Funder.count %></td>
            </tr>
            <tr>
              <td>Most Popular Initiative:</td>
              <td><%= link_to @max_init.name, @max_init %> (<%= @max_init.users.count %> members)</td>
            </tr>
            <tr>
              <td>Least Popular Initiative:</td>
              <td><%= link_to @min_initiative.name, @min_initiative %> (<%= @min_initiative.users.count %> members)</td>
            </tr>
            <tr>
              <td>Most Assigned Condition:</td>
              <td><%= link_to @max_condition.name, @max_condition %> (<%= @max_condition.users.count %>assignments)
              </td>
            </tr>
            <tr>
              <td>Least Assigned Condition:</td>
              <td><%= link_to @min_condition.name, @min_condition %> (<%= @min_condition.users.count %>assignments)
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <br><br><br>
          <h2 id="graph-title">Monthly Total Attendance</h2>
          <%= line_chart Attendance.all.group_by_month(:created_at).count, download: true, xtitle: "Month", ytitle: "Attendances" %>
          <h2 id="graph-title">Monthly Average Attendance</h2>
          <%= line_chart Meeting.all.group_by_month(:datetime).average(:attendance), download: true, xtitle: "Month", ytitle: "Attendance %" %>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 id="meetingtitle">Service Requests</h1>
<div class="stdcontainer">
  <%= datagrid_table(@service_requests_grid) %>
</div>
