<% provide(:title, @user.name) %>

<h1>Home</h1>

<div class="stdcontainer">
  <% @user.initiatives.each do |i| %>

      <h3><%= link_to i.name, i %></h3>
      <% i.users.each do |x| %>
          <%= link_to x.name, x %>
          <% if x.privilege == 1 %>
              <%= x.telephone %>
          <% end %>
      <% end %>
      <h2><%= i.location %></h2>
      <h2><%= i.description %></h2>
  <% end %>

  <% @user.feedbacks.each do |y| %>
    <h2><%= y.id %></h2>
      <% y.answers.each do |a| %>
          <h2><%= a.question.question %></h2>
          <%= a.response %>
      <% end %>
  <% end %>
</div>
