<% provide(:title, @user.name) %>

<div id="userhome">
  <h1>Home</h1>
  <div class="stdcontainer" id="userhomecontainer">
    <div class="feedbackcontainer">
      <% if @user.feedback_due <= Date.today %>
      <h3>Your feedback was due <%= (Date.today - @user.feedback_due).to_i %> day(s) ago</h3>
      <br>
          <%= link_to 'Leave feedback', new_feedback_path(user_id: @current_user.id), class: 'btn btn-success' %>
      <% else %>
      <h3>Your feedback is due in...</h3>
          <%= link_to (@user.feedback_due - Date.today).to_i.to_s + ' days', new_feedback_path(user_id: @current_user.id), class: 'btn btn-success' %>
      <% end %>
    </div>
    <h3>Building Healthy Communities Office Number: </h3>
    <h2 class="text-center">01387 272776</h2>
    <h1>Your Initiatives</h1>
    <% @user.initiatives.order("LOWER (name) ASC").each do |i| %>
      <% unless i.archived %>
        <div class="row">
          <div class="col-md-4">
            <h3><%= i.name %></h3>
            <div id="details">
              <h2>
                <icon class="glyphicon glyphicon-map-marker"></icon> Location:
              </h2>
              <h4><%= i.location %></h4>
              <h2>
                <icon class="glyphicon glyphicon-info-sign"></icon> Description:
              </h2>
              <h4><%= i.description %></h4>
            </div>
          </div>
          <div class="col-md-8">
            <div id="volunteer-list">
              <h3>Initiative Volunteers:</h3>
              <% i.users.each do |x| %>
                <% unless x.archived %>
                  <% if x.privilege == 1 %>
                    <h4>
                      <%= x.name %> 
                    </h4>
                  <% end %>
                <% end %>
              <% end %>
            </div>		
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>>
