<% provide(:title, @user.name) %>

<h1>Home</h1>

<div class="stdcontainer">
  <% @user.initiatives.each do |i| %>

      <h3><%= link_to i.name, i %></h3>
      <% i.users.each do |x| %>
          <h2>
            <%= link_to x.name, x %>
            <%= x.telephone %>
          </h2>
      <% end %>
      <h2><%= i.location %></h2>
      <h2><%= i.description %></h2>
  <% end %>
</div>
