<% provide(:title, @user.known_as) %>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 id="show-title">Building Healthy Communities</h2>
          <div>
            <h2 id="show-sub-title">Office Number: 01387 272776</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid buttons-container">
            <% if @user.feedback_due <= Date.today %>
              <h2 id="show-sub-title">Your feedback was due <%= (Date.today - @user.feedback_due).to_i %> day(s) ago:</h2>
              <%= link_to 'Leave Feedback', new_feedback_path(user_id: @current_user.id), class: 'btn btn-default leave-feedback-btn' %>
            <% else %>
              <h2 id="show-sub-title">Your feedback is due in <%= (@user.feedback_due - Date.today).to_i.to_s + ' day(s):' %></h2>
              <%= link_to 'Leave Feedback', new_feedback_path(user_id: @current_user.id), class: 'btn btn-default leave-feedback-btn' %>
            <% end %>
          </div>
        </div>
        <% @user.initiatives.order("LOWER (name) ASC").each do |i| %>
          <% unless i.archived %>
            <div class="container-fluid">
              <table id="info-table">
                <tr>
                  <td>Initiative:</td>
                  <td><icon class="glyphicon glyphicon-home"></icon><%= i.name %></td>
                </tr>
                <tr>
                  <td>Description:</td>
                  <td><icon class="glyphicon glyphicon-info-sign"></icon><%= i.description %></td>
                </tr>
                <tr>
                  <td>Location:</td>
                  <td><icon class="glyphicon glyphicon-map-marker"></icon><%= i.location %></td>
                </tr>
                <tr>
                  <td>Volunteers:</td>
                  <td>
                    <icon class="glyphicon glyphicon-user"></icon>
                    <% j = 0 %>
                    <% i.users.each do |user| %>
                      <% if user.privilege == 1 %>
                        <%= user.known_as %><% unless j == i.users.where(:privilege => 1).count - 1 %>, <% end %>
                        <% j = j + 1 %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              </table>
              <br>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
