<% provide(:title, @user.name) %>

<h1>Home</h1>

<div class="stdcontainer">

  <%= link_to 'Leave feedback', new_feedback_path %>

  <% @user.initiatives.each do |i| %>

      <h3><%= link_to i.name, i %></h3>
      <% i.users.each do |x| %>
          <%= link_to x.name, x %>
          <% if x.privilege == 1 %>
              <%= x.telephone %>
          <% end %>
      <% end %>
      <h2><%= i.location %></h2>
      <h2><%= i.description %></h2>
  <% end %>
</div>
