<%= form_for @enrolment, :url => { :action => "create"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <% if params[:initiative_id] == nil %>
      <%= f.label :initiative %>
      <%= f.select :initiative_id, options_for_select(@initiatives.map { |s| [s.name, s.id] }), {}, { class: "form-control" } %>
    <% else %>
      <%= f.hidden_field(:initiative_id, :value => Initiative.find(params[:initiative_id]).id) %>
    <% end %>

    <% if params[:user_id] == nil %>
      <div id="scrollable-dropdown-menu">
        <%= f.label :user %>
        <%= f.text_field :user_id, placeholder: 'Username', class: 'typeahead form-control' %>
      </div>
    <% else %>
      <%= f.hidden_field(:user_id, :value => User.find(params[:user_id]).id) %>
    <% end %>

    <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
