<% provide(:title, @user.name) %>

<div id="userhome">
  <h1>Home</h1>
  <div class="stdcontainer" id="userhomecontainer">
    <h1>Your Initiatives</h1>
      <% @user.initiatives.each do |i| %>
        <div class="row">
          <div class="col-md-8">
            <h3><%= link_to i.name, i %></h3>
            <div id="details">
              <h2>
                <icon class="glyphicon glyphicon-map-marker"> Location:</icon>
              </h2>
              <h4><%= i.location %></h4>
              <h2>
                <icon class="glyphicon glyphicon-info-sign"> Description:</icon>
              </h2>
              <h4><%= i.description %></h4>
            </div>
          </div>
          <div class="col-md-4">
            <div id="volunteer-list">
              <h3>Initiative Members:</h3>
              <% i.users.each do |x| %>
                <h4>
                  <%= x.name %> -
                  <%= x.telephone %>
                </h4>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
