<% provide(:title, @user.known_as) %>

<div id="userhome">
  <h1>Home</h1>
  <div class="stdcontainer" id="userhomecontainer">
    <h1>Your Initiatives</h1>
    <% @user.initiatives.order("LOWER (name) ASC").each do |i| %>
        <% unless i.archived %>
            <div class="row">
              <div class="col-md-4">
                <h3><%= link_to i.name, i %></h3>
                <div id="details">
                  <h2>
                    <icon class="glyphicon glyphicon-map-marker"></icon>
                    Location:
                  </h2>
                  <h4><%= i.location %></h4>
                  <h2>
                    <icon class="glyphicon glyphicon-info-sign"></icon>
                    Description:
                  </h2>
                  <h4><%= i.description %></h4>
                </div>
              </div>
              <div class="col-md-8">
                <div id="volunteer-list">
                  <h3>Initiative Members:</h3>
                  <% i.users.each do |x| %>
                      <% unless x.archived %>
                          <h4>
                            <%= x.name %>
                            <br>
                            Emergency Contact -
                            <%= x.emergency_contact %>
                          </h4>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
