<% provide(:title, current_user.known_as) %>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 id="show-title">Building Healthy Communities</h2>
          <div>
            <h2 id="show-sub-title">Office Number: 01387 272776</h2>
          </div>
          <div class="feedback-due">
            <% if current_user.feedback_due <= Date.today %>
                <h2 id="show-sub-title">Your feedback was due <%= (Date.today - current_user.feedback_due).to_i %>
                  day(s)
                  ago:</h2>
                <%= link_to 'Leave Feedback', new_feedback_path(user_id: @current_user.id), class: 'btn btn-default leave-feedback-btn' %>
            <% else %>
                <h2 id="show-sub-title">Your feedback is due
                  in <%= (current_user.feedback_due - Date.today).to_i.to_s + ' day(s):' %></h2>
                <%= link_to 'Leave Feedback', new_feedback_path(user_id: @current_user.id), class: 'btn btn-default leave-feedback-btn' %>
            <% end %>
          </div>
        </div>
        <% current_user.initiatives.order("LOWER (name) ASC").find_each do |i| %>
          <% unless i.archived %>
            <div class="container-fluid">
              <table id="info-table">
                <tr>
                  <td>Initiative:</td>
                  <td><icon class="glyphicon glyphicon-home"></icon><%= link_to i.name, i %></td>
                </tr>
                <tr>
                  <td>Description:</td>
                  <td><icon class="glyphicon glyphicon-info-sign"></icon><%= i.description %></td>
                </tr>
                <tr>
                  <td>Location:</td>
                  <td><icon class="glyphicon glyphicon-map-marker"></icon><%= i.location %></td>
                </tr>
              </table>
              <br>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if current_user.privilege > 0 %>
    <h1>Open Service Requests</h1>
    <div class="stdcontainer">
      <%= datagrid_table(@service_requests_grid) %>
    </div>
<% end %>
