<% provide(:title, @meeting.datetime) %>
<div id="meeting">
  <h1>
    <%= @meeting.datetime.strftime("%B %d, %Y - %H:%M") %>
  </h1>
  <div class="stdcontainer">
    <% if @meeting.attendances.count != 0 %>
      <% @users.each do |user| %>
          <h3><%= link_to user.name, user %></h3>
      <% end %>
    <% else %>
      <%= form_for @attendance do %>
        <% @initiative.users.each do |user| %>
          <h3><%= user.name %></h3>
          <%= check_box_tag('attendance[]', {:user_id => user.id, :meeting_id => @meeting.id}) %>
        <% end %>
        <%= submit_tag "Submit", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
