<% provide(:title, @meeting.datetime) %>
<div id="meeting">
  <h1>
    <%= @meeting.datetime.strftime("%B %d, %Y - %H:%M") %>
  </h1>
  <div class="stdcontainer">
    <% if @meeting.attendances.count != 0 %>
      <h2>Attendance: <%= @meeting.attendance %>%</h2>
      <% @users.each do |user| %>
          <h3><%= link_to user.name, user %></h3>
      <% end %>
    <% else %>
      <div class="row">
        <div class="col-md-6">
          <h3>Attendance</h3>
          <%= form_for @attendance do %>
            <% @initiative.users.each do |user| %>
              <h2 class="enrol"><%= user.name %></h2>
              <%= check_box_tag('attendance[]', {:user_id => user.id, :meeting_id => @meeting.id}) %>
            <% end %>
            <%= submit_tag "Submit", class: "btn btn-default enrol-btn" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
