<% provide(:title, @meeting.initiative.name + " Meeting") %>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 id="show-title"><%= @meeting.initiative.name %> Meeting</h2>
          <div>
            <h2 id="show-sub-title"><%= @meeting.datetime.strftime('%d/%m/%Y - %H:%M') %></h2>
          </div>
          <table id="info-table">
            <tr>
              <td>Initiative:</td>
              <td>
                <icon class="glyphicon glyphicon-home"></icon><%= link_to @meeting.initiative.name, @meeting.initiative %>
              </td>
            </tr>
            <tr>
              <td>Area:</td>
              <td>
                <icon class="glyphicon glyphicon-home"></icon><%= link_to @meeting.initiative.area.name, @meeting.initiative.area %>
              </td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>
                <icon class="glyphicon glyphicon-map-marker"></icon><%= @meeting.initiative.location %></td>
            </tr>
            <tr>
              <td>Description:</td>
              <td>
                <icon class="glyphicon glyphicon-info-sign"></icon><%= @meeting.initiative.description %></td>
            </tr>
            <tr>
              <td>Volunteers:</td>
              <td>
                <icon class="glyphicon glyphicon-user"></icon>
                <% i = 0 %>
                <% @initiative.users.where(:privilege => 1).each do |user| %>
                    <%= link_to user.known_as, user %><% unless i == @initiative.users.where(:privilege => 1).length - 1 %>, <% end %>
                    <% i = i + 1 %>
                <% end %>
              </td>
            </tr>
          </table>
          <br>
          <% unless @meeting.attendances.count == 0 %>
              <%= pie_chart({"Attended" => @meeting.attendance, "Not Attended" => 100 - @meeting.attendance}) %>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="container-fluid buttons-container right-split">
            <% unless @meeting.attendances.count == 0 %>
                <%= link_to "<i class='glyphicon glyphicon-edit'></i> Retake Attendance".html_safe, @meeting, method: :delete,
                            data: {confirm: "Are you sure you want to retake the attendance?
                                                          \nNote: This action cannot be undone!"},
                            class: "btn btn-default edit-btn" %>
            <% end %>
          </div>
          <div class="info-container">
          <h2 id="show-details-title" >Attendance Form</h2>
          <% if @meeting.attendances.count == 0 %>
              <%= render 'attendance_form' %>
          <% else %>
              <table class="table table-hover">
                <thead>
                <tr><h2>Attendance: <%= @meeting.attendance %>%</h2></tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                    <tr><td class="col-md-12">
                      <%= link_to user.known_as, user %>
                    </td></tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
