<% provide(:title, 'Initiatives') %>
<div id="indexcontainer">
  <h1>Initiatives</h1>

  <div class="stdcontainer">

    <%= datagrid_form_for @initiatives_grid, url: initiatives_path %>

    <%= link_to "<i class='glyphicon glyphicon-plus'></i> New".html_safe, new_initiative_path, class: 'btn btn-default new-btn' %>

    <%= datagrid_table(@initiatives_grid) %>
    <%= will_paginate @initiatives_grid.assets %>

    <div class="CSV-container">
      <%= link_to "<i class='glyphicon glyphicon-download-alt'></i> Download CSV".html_safe, url_for(format: 'csv', initiatives_grid: params[:initiatives_grid_csv]), class: "CSV" %>
    </div>
  </div>
</div>
