<% provide(:title, @initiative.name) %>
<div id="modalcontainer" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= render 'archive_form' %>
  </div>
</div>
<div id="initiative">
  <h1>
    <%= @initiative.name %>
  </h1>
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div align="left">
            <h2><icon class="glyphicon glyphicon-list-alt"></icon> Area: </h2><ht><%= link_to @area.name, @area %></ht>

            <h2><icon class="glyphicon glyphicon-map-marker"></icon> Location: </h2><ht><%= @initiative.location %></ht>
            <% if @initiative.archived == true %>
              <h4><br>This initiative has been archived.</h4>
              <h4>Reason: <%= @initiative.reason_archived %></h4>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div align="left">
            <h2><icon class="glyphicon glyphicon-info-sign"></icon> Description: </h2><ht><%= @initiative.description %></ht>
          </div>
        </div>
      </div>
      <% if current_user.privilege == 0 %>
        <%= link_to "<i class='glyphicon glyphicon-trash'></i> Delete".html_safe, @initiative, method: :delete,
                                    data: { confirm: "Are you sure you want to delete this initiative?
                                                      \nNote: All associated meetings will be deleted!" },
                                      class: "btn btn-default delete-btn" %>
        <% if @initiative.archived == false %>
          <button id="openmodal" class="btn btn-default archive-btn"><span class="glyphicon glyphicon-folder-close glyphicon-edit"></span> Archive</button>
        <% else %>
          <%= link_to "<i class='glyphicon glyphicon-folder-open glyphicon-edit'></i> Unarchive".html_safe, unarchive_initiative_path, class: 'btn btn-default archive-btn' %>
        <% end %>
        <%= link_to "<i class='glyphicon glyphicon-plus'></i> Add Funder".html_safe, fund_initiative_funder_path(initiative_id: @initiative.id), class: 'btn btn-default new-session-btn' %>
        <%= link_to "<i class='glyphicon glyphicon-ok-sign'></i> Enrol".html_safe, enrol_user_enrolment_path(initiative_id: @initiative.id), class: 'btn btn-default enrolment-btn' %>
        <%= link_to "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe, edit_initiative_path, class: 'btn btn-default edit-btn' %>
      <% end %>
      <%= link_to "<i class='glyphicon glyphicon-plus'></i> New Session".html_safe, new_meeting_path(initiative_id: @initiative.id), class: 'btn btn-default new-session-btn' %>
    </div>
  </div>
  <h1 id="meetingtitle">Members</h1>
  <div class="stdcontainer">
    <% if @initiative.users.count == 0 %>
      <p>This initative does not yet have any members.</p>
    <% elsif current_user.privilege == 0 %>
      <%= datagrid_table(@users_grid) %>
    <% else %>
      <div id="volunteer-list">
        <% @initiative.users.each do |x| %>
          <% unless x.archived %>
            <h4>
              <%= x.name %>
              Emergency Contact - <%= x.emergency_contact %>
            </h4>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <h1>Meetings</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@meetings_in_initiatives_grid) %>
    <%= will_paginate @meetings_in_initiatives_grid.assets %>
  </div>
  <h1>Funders</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@funders_for_initiatives_grid) %>
    <%= will_paginate @funders_for_initiatives_grid.assets %>
  </div>
</div>
