<% provide(:title, @initiative.name) %>
<div id="modalcontainer" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= render 'archive_form' %>
  </div>
</div>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 id="show-title"><%= @initiative.name %></h2>
          <div>
            <h2 id="show-sub-title"><%= @area.name %></h2>
            <% if current_user.privilege == 0 %>
              <%= link_to "<i class='glyphicon glyphicon-trash'></i> Delete".html_safe, @initiative, method: :delete,
                                          data: { confirm: "Are you sure you want to delete this initiative?
                                                            \nNote: All associated meetings will be deleted!" },
                                            class: "btn btn-default delete-btn" %>
              <%= link_to "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe, edit_initiative_path, class: 'btn btn-default edit-btn' %>
            <% end %>
          </div>
          <table id="info-table">
            <tr>
              <td>Area:</td>
              <td><icon class="glyphicon glyphicon-home"></icon><%= link_to @area.name, @area %></td>
            </tr>
            <tr>
              <td>Location:</td>
              <td><icon class="glyphicon glyphicon-map-marker"></icon><%= @initiative.location %></td>
            </tr>
            <tr>
              <td>Description:</td>
              <td><icon class="glyphicon glyphicon-info-sign"></icon><%= @initiative.description %></td>
            </tr>
          </table>
          <br>
          <% if @initiative.archived == true %>
            <h4><br>This initiative has been archived.</h4>
            <h4>Reason: <%= @initiative.reason_archived %></h4>
          <% end %>
          <h2 id="graph-title">Average Attendance per Meeting (%)</h2>
          <%= line_chart @initiative.meetings.group(:datetime).sum(:attendance), download: true, xtitle: "Time", ytitle: "Attendance %" %>
        </div>
        <div class="col-md-6">
          <div class="container-fluid buttons-container">
            <% if current_user.privilege == 0 %>
              <% if @initiative.archived == false %>
                <button id="openmodal" class="btn btn-default archive-btn"><span class="glyphicon glyphicon-folder-close glyphicon-edit"></span> Archive</button>
              <% else %>
                <%= link_to "<i class='glyphicon glyphicon-folder-open glyphicon-edit'></i> Unarchive".html_safe, unarchive_initiative_path, class: 'btn btn-default archive-btn' %>
              <% end %>
              <%= link_to "<i class='glyphicon glyphicon-check'></i> Add Funder".html_safe, fund_initiative_funder_path(initiative_id: @initiative.id), class: 'btn btn-default funder-btn' %>
              <%= link_to "<i class='glyphicon glyphicon-ok-sign'></i> Enrol".html_safe, enrol_user_enrolment_path(initiative_id: @initiative.id), class: 'btn btn-default enrolment-btn' %>
            <% end %>
            <%= link_to "<i class='glyphicon glyphicon-plus'></i> New Session".html_safe, new_meeting_path(initiative_id: @initiative.id), class: 'btn btn-default new-session-btn' %>
          </div>
          <div class="info-container">
            <h2 id="show-details-title">Initiative Details</h2>
            <h2>Most Recent Meeting: <%= link_to @initiative.meetings.last.datetime.strftime('%d/%m/%Y'), @initiative.meetings.last %></h2>
            <h2>Members Enrolled: <%= @initiative.users.count %></h2>
            <h2>Funders: <%= @initiative.initiative_funders.count %></h2>
            <h2>Total Meetings: <%= @initiative.meetings.count %></h2>
            <h2>Average Attendance: <%= @average_attendance %>%</h2>
            <h2>Members Unenrolled: <%= @initiative.unenrolments.count %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 id="meetingtitle">Members</h1>
  <div class="stdcontainer">
    <% if @initiative.users.count == 0 %>
      <p>This initative does not yet have any members.</p>
    <% elsif current_user.privilege == 0 %>
      <%= datagrid_table(@users_grid) %>
    <% else %>
      <div id="volunteer-list">
        <% @initiative.users.each do |x| %>
          <% unless x.archived %>
            <h4>
              <%= x.known_as %>
              Emergency <%= x.emergency_name %>, <%= x.emergency_telephone %>
            </h4>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <h1>Meetings</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@meetings_in_initiatives_grid) %>
    <%= will_paginate @meetings_in_initiatives_grid.assets %>
  </div>
  <h1>Funding</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@funders_for_initiative_grid) %>
  </div>
  <h1>Funding History</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@removed_funders_for_initiative_grid) %>
  </div>
</div>
