<% provide(:title, @initiative.name) %>
<div id="initiative">
  <h1>
    <%= @initiative.name %>
  </h1>
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div align="left">
            <h2><icon class="glyphicon glyphicon-list-alt"> Area: </icon></h2><ht><%= link_to @area.name, @area %></ht>

            <h2>
              <icon class="glyphicon glyphicon-map-marker"> Location: </icon></h2><ht><%= @initiative.location %></ht>

            <!-- <icon class="glyphicon glyphicon-user">Number of Members: <%= User.count(params[:id]) %></icon> -->
          </div>
        </div>
        <div class="col-md-6">
          <div align="left">
            <h2> <icon class="glyphicon glyphicon-info-sign"> Description:</icon></h2><ht><%= @initiative.description %></ht>
          </div>
        </div>
      </div>
      <%= link_to "<i class='glyphicon glyphicon-trash'></i> Delete".html_safe, @initiative, method: :delete,
                                  data: { confirm: "Are you sure you want to delete this initiative?
                                                    \nNote: All associated meetings will be deleted!" },
                                    class: "btn btn-default delete-btn" %>
      <%= link_to "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe, edit_initiative_path, class: 'btn btn-default edit-btn' %>
    </div>
  </div>
  <h1 id="meetingtitle">Members</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@users_grid) %>
  </div>
  <h1 id="meetingtitle">Meetings</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@meetings_in_initiatives_grid) %>
    <%= will_paginate @meetings_in_initiatives_grid.assets %>
  </div>
</div>
