<% provide(:title, @initiative.name) %>
<style>
  h1 {
    text-shadow: 1px 1px #008000;
  }
</style>
<div id="initiative">
  <h1><em>
    <%= @initiative.name %>
  </em></h1>
<div class="stdcontainer">
<div class="container-fluid">
  	<div class="row">
      <div class="col-md-6">
        <div align="left">
           <icon class="glyphicon glyphicon-list-alt">Area: <%= link_to @area.name, @area %></icon>
        <br>
           <icon class="glyphicon glyphicon-map-marker">Location: <%= @initiative.location %></icon>
			  <br>
          <icon class="glyphicon glyphicon-user">Number of Members: 16</icon>
        </div>
		  </div>
		  <div class="col-md-6">
        <div align="left">
          <icon class ="glyphicon glyphicon-info-sign">Description : <%= @initiative.description %></icon>
        </div>
		  </div>
  	</div>
</div>
</div>
  <div class="stdcontainer">
<ul class="areas">
      			<% @meetings.each do |meeting| %>
          		<li>
            		<h3><%= link_to meeting.datetime, meeting %></h3>
          		</li>
      			<% end %>
    			</ul>
guuuu
  </div>
</div>

