<%= form_for @user, :url => { :action => "change_password" } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-column">
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "New Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit 'Submit', class: 'btn btn-default form-submit-btn' %>
    </div>
<% end %>
