<% provide(:title, 'Users') %>
<div id="indexcontainer">
  <h1>Users</h1>

  <div class="stdcontainer">
    <%= datagrid_form_for @users_grid, url: users_path %>

    <%= link_to "<i class='glyphicon glyphicon-plus'></i> New".html_safe, new_user_path, class: 'btn btn-default new-btn' %>

    <%= datagrid_table(@users_grid) %>
    <%= will_paginate @users_grid.assets %>
    
    <%= link_to "Get CSV", url_for(format: 'csv', users_grid: params[:users_grid]) %>
  </div>
</div>
