<% provide(:title, 'Users') %>

<div id="indexcontainer">
  <h1>Users</h1>

  <div class="stdcontainer">

    <%= datagrid_form_for @users_grid, url: users_path %>

    <%= link_to "<i class='glyphicon glyphicon-plus'></i> New".html_safe, new_user_path, class: 'btn btn-default new-btn' %>

    <%= datagrid_table(@users_grid) %>
    <%= will_paginate @users_grid.assets %>

    <div class="CSV-container">
      <%= link_to "<i class='glyphicon glyphicon-download-alt'></i> Download CSV".html_safe, url_for(format: 'csv', users_grid_csv: params[:users_grid]), class: "CSV" %>
    </div>
  </div>
</div>