<% provide(:title, 'New User') %>
<div id="newcontainer">
  <h1>Create a new User</h1>

  <div class="stdcontainer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user, url: signup_path) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :telephone %>
            <%= f.telephone_field :telephone, class: 'form-control' %>

            <%= f.label :dob %>
            <%= f.date_field :dob, class: 'form-control' %>

            <%= f.label :privilege %>
            <%= f.number_field :privilege, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Create User", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
