<% provide(:title, @user.name) %>
<div id="modalcontainer" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= render 'archive_form' %>
  </div>
</div>
<div id="passwordmodalcontainer" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Update Password</h3>
    <p>Password must be atleast 6 characters.</p><br>
    <%= render 'update_password_form' %>
  </div>
</div>
<div id="editmodalcontainer" class="modal">
  <div class="edit-modal-content">
    <span class="close">&times;</span>
    <h3>Edit User</h3>
    <%= render 'edit_form' %>
  </div>
</div>
<div id="initiative">
  <h1>User</h1>
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div align="left">
            <h2>
              <icon class="glyphicon glyphicon-user"></icon>
              Name: <%= @user.name %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-earphone"></icon>
              Telephone: <%= @user.telephone %><br>
            </h2>
            <% unless @user.privilege == 0 %>
                <h2>
                  <icon class="glyphicon glyphicon-phone-alt"></icon>
                  Emergency Contact: <%= @user.emergency_contact %><br>
                </h2>
            <% end %>
            <h2>
              <icon class="glyphicon glyphicon-envelope"></icon>
              Email: <%= @user.email %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-calendar"></icon>
              DOB: <%= @user.dob.strftime('%d/%m/%Y') %><br>
            </h2>
            <% if @user.archived %>
                <h4>This user has been archived.</h4>
                <h4>Reason: <%= @user.reason_archived %></h4>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_user.privilege == 0 %>
          <button id="openpasswordmodal" class="btn btn-default password-btn">
            <span class="glyphicon glyphicon-lock"></span> Change Password
          </button>
          <%= link_to "<i class='glyphicon glyphicon-trash'></i> Delete".html_safe, @user, method: :delete,
                      data: {confirm: "Are you sure you want to delete this user?
                                      \nNote: All associated enrolments, conditions and feedbacks will be deleted!"},
                      class: "btn btn-default delete-btn" %>
          <% if !@user.archived %>
              <button id="openmodal" class="btn btn-default archive-btn">
                <span class="glyphicon glyphicon-folder-close"></span> Archive
              </button>
          <% else %>
              <%= link_to "<i class='glyphicon glyphicon-folder-open'></i> Unarchive".html_safe, unarchive_user_path, class: 'btn btn-default archive-btn' %>
          <% end %>
          <%= link_to "<i class='glyphicon glyphicon-pencil'></i> Assign Condition".html_safe, new_condition_path(user_id: @user.id), class: 'btn btn-default condition-btn' %>
          <%= link_to "<i class='glyphicon glyphicon-plus'></i> Add Funder".html_safe, fund_user_funder_path(user_id: @user.id), class: 'btn btn-default new-session-btn' %>
          <%= link_to "<i class='glyphicon glyphicon-ok-sign'></i> Enrol".html_safe, enrol_initiative_enrolment_path(user_id: @user.id), class: 'btn btn-default enrolment-btn' %>
          <button id="openeditmodal" class="btn btn-default edit-btn"><span class="glyphicon glyphicon-edit"></span>
            Edit
          </button>
      <% end %>
      <% if current_user.privilege > 0 %>
          <%= link_to "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe, new_service_request_path, class: 'btn btn-default edit-btn' %>
      <% end %>
    </div>
  </div>
  <h1>Feedbacks</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@feedbacks_grid) %>
  </div>
  <h1 id="meetingtitle">Current Enrolments</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@enrolments_grid) %>
  </div>
  <h1>Enrolment History</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@unenrolments_grid) %>
  </div>
  <h1>Current Medical Conditions</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@conditions_grid) %>
  </div>
  <h1>Medical Condition History</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@unassigned_conditions_grid) %>
  </div>
  <h1>Direct Funding</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@funders_for_users_grid) %>
    <%= will_paginate @funders_for_users_grid.assets %>
  </div>
  <h1>Indirect Funding</h1>
  <div class="stdcontainer">
    <% @user.initiatives.each do |initiative| %>
      <% initiative.initiative_funders.each do |funder| %>
        <h4><%= link_to Funder.find(funder.funder_id).name, Funder.find(funder.funder_id) %> through their funding of: <%= link_to initiative.name, initiative %></h4>
      <% end %>
    <% end %>
    <% @user.medical_conditions.each do |medical_condition| %>
      <% medical_condition.medical_condition_funders.each do |funder| %>
        <h4><%= link_to Funder.find(funder.funder_id).name, Funder.find(funder.funder_id) %> through their funding of: <%= link_to medical_condition.name, medical_condition %></h4>
      <% end %>
    <% end %>
  </div>
</div>
