<% provide(:title, @user.known_as) %>
<div id="modalcontainer" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= render 'archive_form' %>
  </div>
</div>
<div id="passwordmodalcontainer" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Update Password</h3>
    <p>Password must be atleast 6 characters.</p><br>
    <%= render 'update_password_form' %>
  </div>
</div>
<div id="editmodalcontainer" class="modal">
  <div class="edit-modal-content">
    <span class="close">&times;</span>
    <h3>Edit User</h3>
    <%= render 'edit_form' %>
  </div>
</div>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 id="show-title"><%= @user.known_as %></h2>
          <div>
            <h2 id="show-sub-title">
              <% if @user.privilege == 0 %>
                  Admin
              <% elsif @user.privilege == 1 %>
                  Volunteer
              <% else %>
                  Service User
              <% end %>
            </h2>
            <% if current_user.privilege == 0 %>
                <%= link_to "<i class='glyphicon glyphicon-trash'></i> Delete".html_safe, @user, method: :delete,
                            data: {confirm: "Are you sure you want to delete this user?
                                        \nNote: All associated enrolments, conditions and feedbacks will be deleted!"},
                            class: "btn btn-default delete-btn" %>
                <button id="openeditmodal" class="btn btn-default edit-btn">
                  <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button id="openpasswordmodal" class="btn btn-default password-btn">
                  <span class="glyphicon glyphicon-lock"></span> Change Password
                </button>
            <% end %>
          </div>
          <table id="info-table">
            <tr>
              <td>Forename:</td>
              <td>
                <icon class="glyphicon glyphicon-user"></icon><%= @user.forename %></td>
            </tr>
            <tr>
              <td>Surname:</td>
              <td>
                <icon class="glyphicon glyphicon-user"></icon><%= @user.surname %></td>
            </tr>
            <tr>
              <td>Telephone:</td>
              <td>
                <icon class="glyphicon glyphicon-earphone"></icon><%= @user.telephone %></td>
            </tr>
            <% unless @user.privilege == 0 %>
                <tr>
                  <td>Emergency Contact Name:</td>
                  <td>
                    <icon class="glyphicon glyphicon-heart-empty"></icon><%= @user.emergency_name %></td>
                </tr>
                <tr>
                  <td>Emergency Contact Number:</td>
                  <td>
                    <icon class="glyphicon glyphicon-phone-alt"></icon><%= @user.emergency_telephone %></td>
                </tr>
            <% end %>
            <tr>
              <td>Email:</td>
              <td>
                <icon class="glyphicon glyphicon-envelope"></icon><%= @user.email %></td>
            </tr>
            <tr>
              <td>DOB:</td>
              <td>
                <icon class="glyphicon glyphicon-calendar"></icon><%= @user.dob.strftime('%d/%m/%Y') %></td>
            </tr>
            <tr>
              <td>Registration Date:</td>
              <td>
                <icon class="glyphicon glyphicon-calendar"></icon><%= @user.reg_date.strftime('%d/%m/%Y') %></td>
            </tr>
            <tr>
              <td>Address:</td>
              <td>
                <icon class="glyphicon glyphicon-map-marker"></icon><%= @user.address1 %>, <%= @user.address2 %>
                , <%= @user.town %>, <%= @user.postcode %></td>
            </tr>
            <tr>
              <td>Aims:</td>
              <td>
                <icon class="glyphicon glyphicon-indent-left"></icon><%= @user.aims.humanize %></td>
            </tr>
            <tr>
              <td>Other Aims:</td>
              <td>
                <icon class="glyphicon glyphicon-indent-left"></icon><%= @user.aims_other %></td>
            </tr>
            <tr>
              <td>Could Prevent Attendance:</td>
              <td>
                <icon class="glyphicon glyphicon-remove-sign"></icon><%= @user.prevent_attending %></td>
            </tr>
          </table>
          <br>
          <% if @user.archived %>
              <h4>This user has been archived.</h4>
              <h4>Reason: <%= @user.reason_archived %></h4>
          <% end %>
          <% if @user.privilege > 0 && current_user.privilege < 2 %>
              <h2 id="graph-title">Number of Meetings Attended (per month)</h2>
              <%= line_chart @user.meetings.group_by_month(:datetime).count, download: true, xtitle: "Month", ytitle: "Meetings Attended" %>
          <% end %>
        </div>
        <div class=col-md-6>
          <div class="container-fluid buttons-container right-split">
            <% if current_user.privilege == 0 %>
                <% if !@user.archived %>
                    <button id="openmodal" class="btn btn-default archive-btn">
                      <span class="glyphicon glyphicon-folder-close"></span> Archive
                    </button>
                <% else %>
                    <%= link_to "<i class='glyphicon glyphicon-folder-open'></i> Unarchive".html_safe, unarchive_user_path, class: 'btn btn-default archive-btn' %>
                <% end %>
                <%= link_to "<i class='glyphicon glyphicon-pencil'></i> Assign Condition".html_safe, new_condition_path(user_id: @user.id), class: 'btn btn-default condition-btn' %>
                <%= link_to "<i class='glyphicon glyphicon-check'></i> Add Funder".html_safe, fund_user_funder_path(user_id: @user.id), class: 'btn btn-default funder-btn' %>
                <%= link_to "<i class='glyphicon glyphicon-ok-sign'></i> Enrol".html_safe, enrol_initiative_enrolment_path(user_id: @user.id), class: 'btn btn-default enrolment-btn' %>
            <% end %>
            <% if current_user.privilege > 0 %>
                <%= link_to "<i class='glyphicon glyphicon-edit'></i> Change Details".html_safe, new_service_request_path, class: 'btn btn-default edit-btn' %>
            <% end %>
          </div>
          <% if current_user.privilege == 0 %>
              <% if (@user.privilege == 1) && (Volunteer.find_by_user_id(@user.id) == nil) %>
                  <div class="info-container">
                    <%= link_to "<i class='glyphicon glyphicon-list-alt'></i> Volunteer Details".html_safe, new_volunteer_user_path(user_id: @user.id), class: 'btn btn-default volunteer-btn' %>
                    <p id="volunteer-reminder"><em>You still need to complete volunteer details</em></p>
                  </div>
              <% elsif @user.privilege == 1 %>
                  <% @volunteer = Volunteer.find_by_user_id(@user.id) %>
                  <table id="info-table" class="volunteer-table">
                    <tr>
                      <td>Registered as Volunteer:</td>
                      <td><%= @volunteer.volunteer_date %></td>
                    </tr>
                    <tr>
                      <td>Life Experiences:</td>
                      <td><%= @volunteer.life_experiences %></td>
                    </tr>
                    <tr>
                      <td>Skills:</td>
                      <td><%= @volunteer.skills %></td>
                    </tr>
                    <tr>
                      <td>Aspirations:</td>
                      <td><%= @volunteer.aspirations %></td>
                    </tr>
                    <tr>
                      <td>Number of Children:</td>
                      <td><%= @volunteer.num_children %></td>
                    </tr>
                    <tr>
                      <td>Requires Help with Childcare:</td>
                      <% if @volunteer.childcare_help %>
                          <td>Yes</td>
                      <% else %>
                          <td>No></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td>Is a Carer:</td>
                      <% if @volunteer.carer %>
                          <td>Yes</td>
                      <% else %>
                          <td>No></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td>Requires Help with Carer's Costs:</td>
                      <% if @volunteer.carer_costs %>
                          <td>Yes</td>
                      <% else %>
                          <td>No></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td>Employment:</td>
                      <td><%= @volunteer.employment %></td>
                    </tr>
                    <tr>
                      <td>Registed as Disabled:</td>
                      <% if @volunteer.registered_disabled %>
                          <td>Yes</td>
                      <% else %>
                          <td>No></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td>Completed Induction:</td>
                      <% if @volunteer.induction_completed %>
                          <td>Yes</td>
                      <% else %>
                          <td>No></td>
                      <% end %>
                    </tr>
                  </table>
                  <br>
              <% end %>
              <div class="info-container">
                <h2 id="show-details-title">User Details</h2>
                <h2>Enrolled Initiatives: <%= @user.enrolments.count %></h2>
                <h2>Funders: <%= @user.user_funders.count %></h2>
                <h2>Medical Conditions: <%= @user.conditions.count %></h2>
                <h2>Meetings Attended: <%= @user.attendances.count %></h2>
                <h2>Feedbacks Left: <%= @user.feedbacks.count %></h2>
                <% unless @user.admin? %>
                    <h2>Next Feedback Due: <%= @user.feedback_due.strftime('%d/%m/%Y') %>
                      - <%= link_to 'Leave Feedback', new_feedback_path(user_id: @user.id) %>
                    </h2>
                <% end %>
          <% else %>
              <div class="info-container">
                <h2 id="show-details-title">Personal Details</h2>
                <h2>
                  Enrolled Initiatives:
                  <% i = 0 %>
                  <% @user.initiatives.each do |init| %>
                      <%= init.name %><% unless i == @user.initiatives.length - 1 %>, <% end %>
                      <% i = i + 1 %>
                  <% end %>
                </h2>
                <h2>
                  Assigned Conditions:
                  <% i = 0 %>
                  <% @user.medical_conditions.each do |cond| %>
                      <%= cond.name %><% unless i == @user.medical_conditions.length - 1 %>, <% end %>
                      <% i = i + 1 %>
                  <% end %>
                </h2>
                <h2>
                  Direct Funding:
                  <% i = 0 %>
                  <% @user.user_funders.each do |fund| %>
                      <%= fund.funder.name %><% unless i == @user.user_funders.length - 1 %>, <% end %>
                      <% i = i + 1 %>
                  <% end %>
                </h2>
                <h2>
                  Feedbacks Completed:
                  <% i = 0 %>
                  <% @user.feedbacks.each do |feedback| %>
                      <%= link_to feedback.created_at.strftime('%d/%m/%Y'), feedback %><% unless i == @user.feedbacks.length - 1 %>, <% end %>
                      <% i = i + 1 %>
                  <% end %>
                </h2>
              </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if current_user.privilege == 0 %>
      <h1>Feedbacks</h1>
      <div class="stdcontainer">
        <%= datagrid_table(@feedbacks_grid) %>
      </div>
      <h1 id="meetingtitle">Current Enrolments</h1>
      <div class="stdcontainer">
        <%= datagrid_table(@enrolments_grid) %>
      </div>
      <% unless @unenrolments_grid.rows.empty? %>
          <h1>Enrolment History</h1>
          <div class="stdcontainer">
            <%= datagrid_table(@unenrolments_grid) %>
          </div>
      <% end %>
      <h1>Current Medical Conditions</h1>
      <div class="stdcontainer">
        <%= datagrid_table(@conditions_grid) %>
      </div>
      <% unless @unassigned_conditions_grid.rows.empty? %>
          <h1>Medical Condition History</h1>
          <div class="stdcontainer">
            <%= datagrid_table(@unassigned_conditions_grid) %>
          </div>
      <% end %>
      <h1>Direct Funding</h1>
      <div class="stdcontainer">
        <%= datagrid_table(@funders_for_user_grid) %>
      </div>
      <% unless @removed_funders_for_users_grid.rows.empty? %>
          <h1>Direct Funding History</h1>
          <div class="stdcontainer">
            <%= datagrid_table(@removed_funders_for_users_grid) %>
          </div>
      <% end %>
  <% end %>
  <% if current_user.privilege == 0 %>
    <h1>Indirect Funding</h1>
    <div class="stdcontainer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h4>Indirect funding received via initiatives:</h4>
            <br>
            <table id="info-table">
              <tr>
                <th>
                  <icon class="glyphicon glyphicon-user"></icon>
                  Funder
                </th>
                <th>
                  <icon class="glyphicon glyphicon-share-alt"></icon>
                  Through
                </th>
              </tr>
              <% @user.initiatives.each do |initiative| %>
                  <% initiative.initiative_funders.each do |funder| %>
                      <tr>
                        <td><%= link_to_if current_user.privilege == 0, Funder.find(funder.funder_id).name, Funder.find(funder.funder_id) %></td>
                        <td><%= link_to_if current_user.privilege == 0, initiative.name, initiative %></td>
                      </tr>
                  <% end %>
              <% end %>
            </table>
            <br>
          </div>
          <div class="col-md-6">
            <h4>Indirect funding received via medical conditions:</h4>
            <br>
            <table id="info-table">
              <tr>
                <th>
                  <icon class="glyphicon glyphicon-user"></icon>
                  Funder
                </th>
                <th>
                  <icon class="glyphicon glyphicon-share-alt"></icon>
                  Through
                </th>
              </tr>
              <% @user.medical_conditions.each do |medical_condition| %>
                  <% medical_condition.medical_condition_funders.each do |funder| %>
                      <tr>
                        <td><%= link_to_if current_user.privilege == 0, Funder.find(funder.funder_id).name, Funder.find(funder.funder_id) %></td>
                        <td><%= link_to_if current_user.privilege == 0, medical_condition.name, medical_condition %></td>
                      </tr>
                  <% end %>
              <% end %>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>



<% end %>
  <% if current_user.privilege > 0 %>
      <h1>Open service requests</h1>
      <div class="stdcontainer">
        <%= datagrid_table(@service_requests_grid) %>
      </div>
  <% end %>

