<% provide(:title, @user.name) %>
<div id="initiative">
  <h1>User</h1>
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div align="left">
            <h2>
              <icon class="glyphicon glyphicon-user"></icon> Name: <%= @user.name %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-earphone"></icon> Telephone: <%= @user.telephone %><br>
            </h2>
            <% unless @user.privilege == 0 %>
              <h2>
                <icon class="glyphicon glyphicon-phone-alt"></icon> Emergency Contact: <%= @user.emergency_contact %><br>
              </h2>
            <% end %>
            <h2>
              <icon class="glyphicon glyphicon-envelope"></icon> Email: <%= @user.email %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-calendar"></icon> DOB: <%= @user.dob %><br>
            </h2>
          </div>
        </div>
      </div>
      <% if current_user.privilege == 0 %>
        <%= link_to "<i class='glyphicon glyphicon-trash'></i> Delete".html_safe, @user, method: :delete,
                    data: {confirm: "Are you sure you want to delete this user?"},
                    class: "btn btn-default delete-btn" %>
        <%= link_to "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe, edit_user_path, class: 'btn btn-default edit-btn' %>
      <% end %>
      <% if current_user.privilege >= 1 %>
          <%= link_to "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe, new_service_request_path, class: 'btn btn-default edit-btn' %>
      <% end %>
    </div>
  </div>
  <h1 id="meetingtitle">Initiatives</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@initiatives_grid) %>
  </div>
  <h1> Feedbacks </h1>
  <div class="stdcontainer">
    <% if @user.feedbacks.count == 0 %>
      <p>This user has not yet left any feedback.</p>
    <% else %>
      <%= datagrid_table(@feedbacks_grid) %>
    <% end %>
  </div>
  <h1> Medical Conditions </h1>
  <div class="stdcontainer">
    <% if @user.conditions.count == 0 %>
      <p>This user does not have any medical conditions.</p>
    <% else %>
      <%= datagrid_table(@conditions_grid) %>
    <% end %>
  </div>
</div>
