<% provide(:title, @funder.name) %>

<div id="initiative">
  <h1>Funder</h1>

  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div align="left">
            <h2>
              <icon class="glyphicon glyphicon-user"></icon>
              Name: <%= @funder.name %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-map-marker"></icon>
              Address: <%= @funder.address %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-earphone"></icon>
              Telephone: <%= @funder.telephone %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-envelope"></icon>
              Email: <%= @funder.email %><br>
            </h2>
          </div>
        </div>
        <div class="col-md-6">
          <div align="left">
            <h2>
              <icon class="glyphicon glyphicon-info-sign"></icon>
              Description: <%= @funder.description %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-share-alt"></icon>
              Website: <%= @funder.url %><br>
            </h2>
          </div>
        </div>
      </div>
      <%= link_to "<i class='glyphicon glyphicon-trash'></i> Delete".html_safe, @funder, method: :delete,
                  data: {confirm: "Are you sure you want to delete this funder?"},
                  class: "btn btn-default delete-btn" %>
      <%= link_to "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe, edit_funder_path, class: 'btn btn-default edit-btn' %>
    </div>
  </div>
  <h1>Direct Funding</h1>
  <div class="stdcontainer">
    <h4><%= @funder.name %> are currently <b>directly</b> funding:</h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <% @initiatives = Array.new %>
          <h4><%= @funder.initiative_funders.count %> initiative(s):</h4>
          <% @funder.initiative_funders.each do |funder| %>
            <% @initiatives.push(funder.initiative_id) %>
          <% end %>
          <% @initiatives.each do |initiative| %>
            <p><%= link_to Initiative.find(initiative).name, Initiative.find(initiative) %></p>
          <% end %>
          <br>
        </div>
        <div class="col-md-4">
          <% @medical_conditions = Array.new %>
          <h4><%= @funder.medical_condition_funders.count %> medical condition(s):</h4>
          <% @funder.medical_condition_funders.each do |funder| %>
            <% @medical_conditions.push(funder.medical_condition_id) %>
          <% end %>
          <% @medical_conditions.each do |medical_condition| %>
            <p><%= link_to MedicalCondition.find(medical_condition).name, MedicalCondition.find(medical_condition) %></p>
          <% end %>
          <br>
        </div>
        <div class="col-md-4">
          <% @users = Array.new %>
          <h4><%= @funder.user_funders.count %> user(s):</h4>
          <% @funder.user_funders.each do |funder| %>
            <% @users.push(funder.user_id) %>
          <% end %>
          <% @users.each do |user| %>
            <p><%= link_to User.find(user).name, User.find(user) %></p>
          <% end %>
          <br>
        </div>
      </div>
    </div>
  </div>
  <h1>Indirect Funding</h1>
  <div class="stdcontainer">
    <div class="container-fluid">
      <% @funder.initiative_funders.each do |funder| %>
        <% @initiative = Initiative.find(funder.initiative_id) %>
        <div class="funder-container">
          <h4>Users funded via <%= @funder.name %>'s funding of <b><%= link_to @initiative.name, @initiative %></b>:</h4>
          <% @initiative.users.each do |user| %>
            <h4><%= link_to user.name, user %></h4>
          <% end %>
          <br>
        </div>
      <% end %>
      <% @funder.medical_condition_funders.each do |funder| %>
        <% @medical_condition = MedicalCondition.find(funder.medical_condition_id) %>
        <div class="funder-container">
          <h4>Users funded via <%= @funder.name %>'s funding of <b><%= link_to @medical_condition.name, @medical_condition %></b>:</h4>
          <% @medical_condition.users.each do |user| %>
            <h4><%= link_to user.name, user %></h4>
          <% end %>
          <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
