<% provide(:title, @funder.name) %>

<div id="initiative">
  <h1>Funder</h1>

  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div align="left">
            <h2>
              <icon class="glyphicon glyphicon-user"></icon>
              Name: <%= @funder.name %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-map-marker"></icon>
              Address: <%= @funder.address %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-earphone"></icon>
              Telephone: <%= @funder.telephone %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-envelope"></icon>
              Email: <%= @funder.email %><br>
            </h2>
          </div>
        </div>
        <div class="col-md-6">
          <div align="left">
            <h2>
              <icon class="glyphicon glyphicon-info-sign"></icon>
              Description: <%= @funder.description %><br>
            </h2>
            <h2>
              <icon class="glyphicon glyphicon-share-alt"></icon>
              Website: <%= @funder.url %><br>
            </h2>
          </div>
        </div>
      </div>
      <%= link_to "<i class='glyphicon glyphicon-trash'></i> Delete".html_safe, @funder, method: :delete,
                  data: {confirm: "Are you sure you want to delete this funder?"},
                  class: "btn btn-default delete-btn" %>
      <%= link_to "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe, edit_funder_path, class: 'btn btn-default edit-btn' %>
  </div>
</div>
