<% @feedback.errors.full_messages.each do |message| %>
    <%= message %><br>
<% end %>

<%= form_for(@feedback) do |f| %>

    <%= f.hidden_field :user_id, :value => @current_user.id %>

    <%= f.fields_for :answers do |a| %>
        <%= a.label @questions.find(a.object.question_id).question %>
        <%= a.hidden_field :question_id, :value => a.object.question_id %>
        <br>
        <% if @questions.find(a.object.question_id).multiple_choice %>
            <%= a.collection_radio_buttons :response, [['1', ' 1'], ['2', ' 2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9']],
                                           :first,
                                           :last do |b| %>
                <div class="radio-inline">
                  <%= b.label do %>
                      <%= b.radio_button + b.text %>
                  <% end %>
                </div>
            <% end %>
            <br>

        <% else %>
            <%= a.text_field :response, :value => Faker::Lorem.sentence %>
        <% end %>
    <% end %>

    <%= f.submit %>
<% end %>